@font-face {
  font-family: "Inter-500";
  src: url("./Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter-400";
  src: url("./Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter-600";
  src: url("./Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Material Symbols";
  src: url("./material-symbols.woff2");
}
