# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Go build artifacts
*.exe
*.test
*.out

# Dependency directories
vendor/

# Air hot reload files
.air
.air.toml

# local env files
.env*.local 
.env

# Logs
*.log

# Git files
.git

# Temporary files
tmp/
*.tmp
/bin/
/pkg/