@font-face {
  font-family: "Inter-500";
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-400";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-600";
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Material Symbols";
  src: url("./fonts/material-symbols.woff2") format("woff2");
}
