.content {
  @apply flex-grow;
}

/* /////// media requests */
.content {
  @apply w-[1400px];
}

@media (max-width: 1536px) {
  .content {
    max-width: 1000px;
  }
}

@media (max-width: 1024px) {
  .content {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .content {
    max-width: 400px;
  }
}
