.page {
  @apply h-full;
  @apply flex justify-center items-center;
  /* Для современных браузеров */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Скрываем скроллбар в WebKit (Chrome/Safari) */
.page::-webkit-scrollbar {
  display: none;
}

.page__container {
  @apply relative h-full flex flex-col gap-4;
}

.page__box {
  @apply flex flex-col justify-center gap-5;
}

.page .p-divider {
  @apply m-0;
}

/* /////// Управление header-ом страницы - Реализация в шаблоне через компонент PageHeader */

.page__header-icon {
  @apply w-[20px] h-[20px] cursor-pointer absolute left-4;
}

.page__header--default {
  @apply flex items-center absolute right-4;
}
